### Question1

In [69]:
a = 0
def b():
    global a
    a = c(a)
def c(a):
    return a + 2

b()
b()
b()
a

6

2 is added each time of execution
when 1st b() executes then a will be 0+2 = 2
2nd b() executes then a will be 2+2 = 4
3rd b() executes then a will be 4+2 = 6
and at last a will be 6

### Question2

In [3]:
def fileLength(filename):
        try:
                f=open(filename)
                data=f.readlines()
                next=""
                for i in data:
                        next+=i
                result=len(next)
                return result
        except FileNotFoundError:
                return ("File {} not found.".format(filename))

In [5]:
print(fileLength('D:/BDAT/1004-Ethan Davis-Data Programming/midterm.py'))

63

In [7]:
print(fileLength('idterm.py'))

File idterm.py not found.

### Question3

In [87]:
class Marsupial:

    def __init__(aus):
        aus.pouch=[]
    def put_in_pouch(aus, item):
        aus.pouch.append(item)
    def pouch_contents(aus):
        return aus.pouch


class Kangaroo(Marsupial):
    def __init__(aus, x,y):

        Marsupial.__init__(aus)
        print('Enter value for x: ')
        x=int(input())
        
        print('Enter value for y: ')
        y=int(input())

        aus.x=x
        aus.y=y

    def jump(aus, dx, dy):
        aus.x+=dx
        aus.x+=dy
   
    def __str__(aus):
        return "I am a Kanagroo located at coordinates ("+str(aus.x)+","+str(aus.y)+")"

k = Kangaroo(0,0)

print(k)

k.put_in_pouch('doll')

k.put_in_pouch('firetruck')

k.put_in_pouch('kitten')

print(k.pouch_contents())

k.jump(1,0)

k.jump(1,0)

k.jump(1,0)

print(k)

Enter value for x:
0
Enter value for y:
0
I am a Kanagroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kanagroo located at coordinates (3,0)

### Question4

In [2]:
def collatz(x):
    if(x == 1):
        print(1)
        return
    print(int(x))
    
    if(x % 2 == 0):
        x = x / 2
    else:
        x = x * 3 + 1
        
    return (collatz(x))
collatz(1)
collatz(10)

1
10
5
16
8
4
2
1

### Question5

In [3]:
def binary(n):
    if n == 0:
        return '0'
    else:
        b = ''
        while n > 0:
            b = str((n % 2)) + b
            n //= 2
        return b

print(binary(0))
print(binary(1))
print(binary(3))
print(binary(9))

0
1
11
1001

### Question6

In [91]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    headers = ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']
    def handle_starttag(self, tag, attrs):
        if tag in self.headers:
            print(tag)
    def handle_endtag(self, tag):
        if tag in self.headers:
            print(tag)
    def handle_data(self, data):
        print(data)

parser = HeadingParser()
infile = open('D:/BDAT/1004-Ethan Davis-Data Programming/w3c.txt')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

Change_me














h1
W3C Mission
h1


h2
Principles
h2

### Question7

In [92]:
from html.parser import HTMLParser    
from urllib.request import urlopen
from urllib.parse import urljoin

class Web(HTMLParser):
   
    def __init__(self, url):
      
        HTMLParser.__init__(self)
        self.url = url
        self.links = []

    def append(self):
        return self.links

    def handle_starttag(self, tag, attr):
        for attribute in attr:
            attrs = urljoin(self.url, attribute[1])
            if attrs[:4] == 'http': 
                self.links.append(attrs)
def webdir(url, depth, indent):
    depth = depth - 1    
    print(indent*'  ', url)        
    i = urlopen(url).read().decode()
    j = Web(url)
    j.feed(i)
    urls = j.append()
    links = urls
    indent = indent +2

    for link in links:
        if indent < 0 or depth < 0:
            return 0
        else:
            webdir(link, depth, indent)

webdir('http://reed.cs.depaul.edu/lperkovic/test1.html',2,0)

 http://reed.cs.depaul.edu/lperkovic/test1.html
     http://reed.cs.depaul.edu/lperkovic/test2.html
         http://reed.cs.depaul.edu/lperkovic/test4.html
     http://reed.cs.depaul.edu/lperkovic/test3.html
         http://reed.cs.depaul.edu/lperkovic/test4.html

### Question8

In [10]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\sindh\anaconda3\lib\site-packages (0.4.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\sindh\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: six in c:\users\sindh\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: prettytable<1 in c:\users\sindh\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\sindh\anaconda3\lib\site-packages (from ipython-sql) (1.4.22)
Requirement already satisfied: sqlparse in c:\users\sindh\anaconda3\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: ipython>=1.0 in c:\users\sindh\anaconda3\lib\site-packages (from ipython-sql) (7.29.0)
Requirement already satisfied: matplotlib-inline in c:\users\sindh\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: setuptools>=18.5 in c:\users\sindh\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (58.0.4)
Requirement already satisfied: pygments in c:\users\sindh\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.10.0)
Requirement already satisfied: traitlets>=4.2 in c:\users\sindh\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: colorama in c:\users\sindh\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: decorator in c:\users\sindh\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: jedi>=0.16 in c:\users\sindh\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.0)
Requirement already satisfied: backcall in c:\users\sindh\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: pickleshare in c:\users\sindh\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\sindh\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\sindh\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.2)
Requirement already satisfied: wcwidth in c:\users\sindh\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\sindh\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)

In [12]:
%load_ext sql

In [14]:
%sql sqlite://

In [15]:
%%sql

CREATE TABLE weather
(
city varchar(15),
countrt varchar(15),
season varchar(15),
temperature float,
rainfall float
);

 * sqlite://
Done.

[]

In [16]:
%%sql
INSERT INTO weather VALUES('Mumbai', 'India', 'Winter', 24.8,5.9),
('Mumbai', 'India', 'Spring', 28.4,16.2),
('Mumbai', 'India', 'Summer', 27.9,1549.4),
('Mumbai', 'India', 'Fall', 27.6,346.0),
('London', 'United kingdom', 'Winter', 4.2,207.7),
('London', 'United kingdom', 'Spring', 8.3,169.6),
('London', 'United kingdom','Summer', 15.7,157.0),
('London', 'United kingdom','Fall', 10.4,218.5),
('Cairo', 'Egypt','Winter', 13.6,16.5),
('Cairo', 'Egypt', 'Spring', 20.7,6.5);

 * sqlite://
10 rows affected.

[]

In [17]:
%%sql
select * from weather;

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5)]

#### Question8a

In [18]:
%%sql
select temperature from weather;

 * sqlite://
Done.

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,)]

#### Question8b

In [19]:
%%sql
select distinct city from weather;

 * sqlite://
Done.

[('Mumbai',), ('London',), ('Cairo',)]

#### Question8c

In [20]:
%%sql
select * from weather where countrt =='India';

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

#### Question8d

In [21]:
%%sql
select * from weather where season == 'Fall';

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United kingdom', 'Fall', 10.4, 218.5)]

#### Question8e

In [22]:
%%sql
select city, countrt, season from weather where rainfall between 200 and 400

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall'),
 ('London', 'United kingdom', 'Winter'),
 ('London', 'United kingdom', 'Fall')]

#### Question8f

In [23]:
%%sql
select city, countrt from weather where season == 'Fall' and temperature > 20 order by temperature ASC;

 * sqlite://
Done.

[('Mumbai', 'India')]

#### Question8g

In [24]:
%%sql
select sum(rainfall) AS annual_rainfall from weather where city == 'Cairo';

 * sqlite://
Done.

[(23.0,)]

#### Question8h

In [25]:
%%sql
select season, sum(rainfall) AS annual_rainfall from weather group by season;

 * sqlite://
Done.

[('Fall', 564.5),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.4),
 ('Winter', 230.1)]

#### Question9a

In [26]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

print([x.upper() for x in words])

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

#### Question9b

In [27]:
print([x.lower() for x in words])

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

#### Question9c

In [28]:
print([len(x) for x in words])

[3, 5, 5, 3, 5, 4, 3, 4, 3]

#### Question9d

In [29]:
print([[x.upper(), x.lower(), len(x)] for x in words])

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

#### Question9e

In [30]:
print([x for x in words if len(x)>=4])

['quick', 'brown', 'jumps', 'over', 'lazy']